# Python virtual environment
.venv/

# Lua files
# logs/
# traces/
dumped/
.vscode/
dir_object.*
logs/
.claude/
.claude_memory
.worktrees/
traces/
logs/
.venv/
__pycache__/
source_decompiled/
DirObject/
unluac/
superpowers/
.agent/
WWM_APK/
WWM_APK.zip
build*/
output/
.DS_Store
ghidra/